/* Add your css here */

*{ /* Applies to everything */
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.logo { /* Changes the size of logo */
  width: 115px;
}

.header {
  width: 100%;
  height: 115px;
  display: block;
  background-color: #000000
}

.inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;

}

.logo_container{
  height: 100%;
  display: table;
  float:  left;
  margin: 0px 15px 15px -90px;

}

.navigation{
  float: right;
  height: 100%;
  
}

.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;

}

.navigation a:last-child{ /* There will be no space between'Group Page' and right side of page */
  padding-right: 0;
}



.navigation li{
  display: inline-block;
  vertical-align: middle;
  margin-left: 70px;
  padding-top: 45px;
  color: white;
  font-family: sans-serif;
  font-size: 16px;

}

.navigation a{
  color: rgb(0, 219, 223)
  


}

.navigation a:hover{
  color: #ffffff
}